
// Footer
footer.footer
  .footer__layer.scene
    .container
      img(src="./img/img-tomato2.png", alt="" data-depth="0.40").layer.layer--1
      img(src="./img/icon-paprika-geel2.png", alt="" data-depth="0.60").layer.layer--2
      img(src="./img/img-strawberries2.png", alt="" data-depth="0.80").layer.layer--3
      img(src="./img/img-banana3.png", alt="" data-depth="0.60").layer.layer--4
      img(src="./img/img-apple4.png", alt="" data-depth="1.40").layer.layer--5

  .container

    .footer__text
      .h2 Download, customize &amp;&nbsp;
        strong enjoy!
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

      .applinks
        a(href="#", target="_blank")
          img(src="./img/icon-appstore.png", alt="")

        a(href="#", target="_blank")
          img(src="./img/icon-google-play.png", alt="")
